.wrapperYoutube {
	width: 100%;
	flex: 1 1 auto;
}

h2 {
	text-align: center;
	color: black;
}

.vid {
  width: 100%;
  height: calc(100vh - 164px);
  flex: 1 1 auto;
  text-align: center;
  background-color: black;
}