.wrapperControls {
	height: 50px;
	width: 100%;
	background-color: #ee6e73;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	background-color: #70e7e1;
	color: black;
	margin-right: 10px;
}

.button:focus {
	background-color: #70e7e1;
}

.button:hover {
	background-color: #21c4bc;
}

.button:last-child {
	margin-right: 0;
}