.wrapperControls {
	height: 50px;
	width: 100%;
	background-color: #ee6e73;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	background-color: #70e7e1;
}

.button {
	margin-right: 10px;
}

.button:last-child {
	margin-right: 0;
}