.form {
	display: inline-block;
	width: 20em;
}

.input {
	color: black;
	border-color: black!important;
	margin: 0!important;
}

.searchButton {
	float: right!important;
}

.searchButton i {
	color: black;
}

.form {
	float: right;
}