.wrapper {
	float: right;
}

.logo {
	padding-left: 30px;
	float: left;
}

nav {
	 line-height: 62px;
	 box-shadow:none!important;
	 -webkit-box-shadow: none!important;
}

.brand-logo {
	height: 100%;
}

.brand-logo-img {
	height: 100%;
	padding-left: 30px;
}

.right {
	float: none!important;
	text-align: center;
}